# ============================================================
# Recyclarr - Secrets template
# Kopieer dit bestand naar secrets.yml en vul je API keys in
# NOOIT secrets.yml committen naar git
# ============================================================

sonarr_api_key: VULHIERINJESONARRAPIKEY
radarr_api_key: VULHIERINJERADARARAPIKEY
